<h2>Items view</h2>
<button (click)="onNew()" class="btn btn-primary">New Item</button>

<div *ngIf="!selectedItem">
    <table class="table">
        <tr *ngFor="let item of items">
            <td>{{item.id}}</td>
            <td>{{item.sku}}</td>
            <td>{{item.description}}</td>
            <td>{{item.qty}}</td>
            <td>{{item.created}}</td>
            <td>{{item.modified}}</td>
            <td><button (click)="onEdit(item)" class="btn btn-primary btn-xs">Edit</button></td>
        </tr>
    </table>
</div>

<div *ngIf="selectedItem">
    <input [(ngModel)]="selectedItem.sku" placeholder="sku" />
    <input [(ngModel)]="selectedItem.description" placeholder="description" />
    <input [(ngModel)]="selectedItem.qty" placeholder="qty" />
    <button (click)="cancel()" class="btn btn-default">Cancel</button>
    <button (click)="save(selectedItem)" class="btn btn-success">Save</button>
</div>