<div *ngIf="!selectedItem">
	<h2>Items</h2>

	<button (click)="onNew()" class="btn btn-primary">New Item</button>

	<table class="table">
		<tr>
			<th>ID</th>
			<th>SKU</th>
			<th>Description</th>
			<th>Qty</th>
			<th>Type</th>
			<th>Created</th>
			<th>Modified</th>
			<th>Actions</th>
			<tr *ngFor="let item of items">
				<td>{{item.id}}</td>
				<td>{{item.sku}}</td>
				<td>{{item.description}}</td>
				<td>{{item.qty}}</td>
				<td>
					<div *ngIf="item.item_type">
						{{item.item_type.name}}
					</div>

					<div *ngIf="!item.item_type">
						{{item.item_type_id}}
					</div>
				</td>
				<td>{{item.created}}</td>
				<td>{{item.modified}}</td>
				<td><button (click)="onEdit(item)" class="btn btn-primary btn-xs">Edit</button></td>
			</tr>
	</table>
</div>

<div *ngIf="selectedItem">

	<h2 *ngIf="!selectedItem.id">Create Item</h2>
	<h2 *ngIf="selectedItem.id">Edit Item</h2>

	<div class="form-group">
		<label for="sku">SKU</label>
		<input type="text" class="form-control" [(ngModel)]="selectedItem.sku" placeholder="sku" id="sku" />
	</div>

	<div class="form-group">
		<label for="description">Description</label>
		<input type="text" class="form-control" [(ngModel)]="selectedItem.description" placeholder="description" id="description"
		/>
	</div>

	<div class="form-group">
		<label for="qty">Qty</label>
		<input type="text" class="form-control" [(ngModel)]="selectedItem.qty" placeholder="qty" id="qty" />
	</div>

	<div class="form-group">
		<label for="type">Type</label>
		<select class="form-control" id='type' [(ngModel)]="selectedItem.item_type_id">
             <option *ngFor="let itemType of itemTypes" value={{itemType.id}}>
                 {{itemType.name}}
                 </option>
    </select>
	</div>


	<button (click)="cancel()" class="btn btn-default">Cancel</button>
	<button (click)="save(selectedItem)" class="btn btn-success">Save</button>
</div>